@import "../global/viewports.scss";

.catalog {
  .products {
    margin: 0;
    margin-bottom: 28px;

    @media (min-width: $tablet-width) {
      margin-bottom: 78px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 auto;
      margin-bottom: 87px;
    }
  }

  .products-extra__main-heading {
    @media (min-width: $tablet-width) {
      &::before {
        flex-shrink: 0;
        top: 15px;
        margin-right: 38px;
        width: 30px;
      }

      &::after {
        top: 15px;
        margin-left: 35px;
      }
    }

    @media (min-width: $desktop-width) {
      margin-top: 0;

      &::before {
        top: 17px;
        margin-right: 40px;
        width: 70px;
      }

      &::after {
        top: 18px;
      }
    }
  }
}

.catalog__heading {
  margin: 24px 0 38px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    margin-top: 62px;
    margin-bottom: 45px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 72px auto 49px;
    padding: 0 110px;
    max-width: $desktop-width;
  }
}

.catalog__special-offer {
  margin: 39px 0 33px;

  @media (min-width: $tablet-width) {
    margin: 69px 0 75px;
  }
}
