@import "../global/viewports.scss";

.catalog {
  .products {
    margin: 0;
    margin-bottom: 28px;
  }

  .products-extra__main-heading {
    margin-top: 78px;

    &::before {
      flex-shrink: 0;
      top: 15px;
      margin-right: 38px;
      width: 30px;
    }

    &::after {
      top: 15px;
      margin-left: 35px;
    }
  }
}

.catalog__heading {
  margin: 24px 0 38px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    margin-top: 50px;
    margin-bottom: 48px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 70px;
    padding: 0 70px;
  }
}

.catalog__special-offer {
  margin: 69px 0 75px;
}
