@import "../global/viewports.scss";
@import "../global/colors.scss";
@import "../global/fonts.scss";

.checkbox {
  display: block;
}

.checkbox__field {
  position: absolute;
  opacity: 0;

  &:disabled {
    + .checkbox__label {
      opacity: 0.3;

      &::before {
        border-color: $grey-dark;
      }
    }
  }

  &:focus {
    + .checkbox__label::before {
      border-color: $black-dark;
      box-shadow: 0 0 0 1px;
    }
  }
}

.checkbox__label {
  display: block;
  position: relative;
  padding-left: 47px;
  font-family: $font-headings;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: $black;

  &::before {
    position: absolute;
    content: "";
    top: -5px;
    left: 0;
    width: 30px;
    height: 30px;
    border: thin solid $grey-dark;

    @media (min-width: $tablet-width) {
      top: -10px;
      width: 40px;
      height: 40px;
    }
  }

  &:hover {
    &::before {
      border-color: $checkbox-hover-color;
    }
  }

  @media (min-width: $tablet-width) {
    padding-left: 59px;
    font-size: 20px;
    line-height: 1;
  }
}

.checkbox__field:checked + .checkbox__label::after {
  position: absolute;
  content: "";
  top: 3px;
  left: 7px;
  width: 20px;
  height: 14px;
  background-image: url("../img/checkbox-tick.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    top: 3px;
    left: 11px;
    width: 18px;
    height: 18px;
  }
}
