@import "../global/viewports.scss";
@import "../global/colors.scss";
@import "../global/fonts.scss";

.checkbox {
  display: block;
}

.checkbox__field {
  opacity: 0;
  margin-right: 30px;

  &:disabled {
    + .checkbox__label {
      opacity: 0.3;

      &::before {
        border-color: $grey-dark;
      }
    }
  }

  @media (min-width: $tablet-width) {
    margin-right: 41px;
  }
}

.checkbox__label {
  position: relative;
  font-family: $font-headings;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: $black;

  &::before {
    position: absolute;
    content: "";
    top: -3px;
    left: -46px;
    width: 30px;
    height: 30px;
    border: thin solid $grey-dark;

    @media (min-width: $tablet-width) {
      top: -5px;
      left: -58px;
      width: 40px;
      height: 40px;
    }

    @media (min-width: $desktop-width) {
      left: -60px;
    }
  }

  &:hover {
    &::before {
      border-color: $checkbox-hover-color;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1;
  }
}

.checkbox__field:checked + .checkbox__label::after {
  position: absolute;
  content: "";
  top: 5px;
  left: -40px;
  width: 20px;
  height: 14px;
  background-image: url("../img/checkbox-tick.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    top: 8px;
    left: -47px;
    width: 18px;
    height: 18px;
  }

  @media (min-width: $desktop-width) {
    left: -49px;
  }
}
