@import "../global/viewports.scss";
@import "../global/colors.scss";
@import "../global/fonts.scss";

.checkbox {
  display: block;
}

.checkbox__label {
  font-family: $font-headings;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1;
  }
}
