@import "../global/viewports.scss";
@import "../global/colors.scss";

.example {
  padding: 27px 20px;
  background-color: $grey-base-2;

  @media (min-width: $tablet-width) {
    padding: 43px 30px 0;
    border-top: thin solid $border-color;
    background-color: transparent;
    background-image: linear-gradient(to top, $grey-base-2 462px, transparent 462px, transparent);
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "heading     slider"
      "description slider"
      "results     slider";
    padding: 30px 110px;
  }
}

.example__heading {
  grid-area: heading;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }
}

.example__text {
  grid-area: description;
  margin-bottom: 25px;
  padding-right: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 38px;
  }
}

.example__results {
  grid-area: results;
  margin-bottom: 30px;
}

.example__slider {
  grid-area: slider;
}
