@import "../global/viewports.scss";
@import "../global/colors.scss";

.example {
  background-color: $grey-base-2;

  @media (min-width: $tablet-width) {
    border-top: thin solid $border-color;
    background-color: transparent;
    background-image: linear-gradient(to top, $grey-base-2 462px, transparent 462px, transparent);
  }

  @media (min-width: $desktop-width) {
    border-top: none;
    background-image: linear-gradient(to top, $grey-base-2 462px, transparent 462px, transparent);
  }
}

.example__container {
  padding: 27px 20px;

  @media (min-width: $tablet-width) {
    padding: 43px 30px 0;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 570px 1fr;
    grid-template-rows: 210px 235px 1fr;
    grid-template-areas:
      "heading     slider"
      "description slider"
      "results     slider";
    margin: 0 auto;
    padding: 0 110px;
    max-width: 1440px;
  }
}

.example__heading {
  grid-area: heading;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 75px;
    margin-bottom: 0;
  }
}

.example__text {
  grid-area: description;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 38px;
    padding-right: 10px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    align-self: center;
    padding-top: 2px;
    padding-right: 0;
    max-width: 438px;
    max-height: 165px;
  }
}

.example__results {
  grid-area: results;
  margin-bottom: 30px;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.example__slider {
  grid-area: slider;
}
