@import "../global/viewports.scss";
@import "../global/colors.scss";

.expenses {
  font-family: "Oswald", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: $black;

  @media (min-width: $tablet-width) {
    margin-top: 26px;
    font-size: 20px;
    line-height: 20px;
  }
}

.expenses__text {
  @media (min-width: $tablet-width) {
    margin-bottom: 9px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    margin-right: 59px;
  }
}

.expenses__text,
.expenses__value {
  @media (min-width: $tablet-width) {
    display: block;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    display: inline-block;
    text-align: left;
  }
}
