@import "../global/viewports.scss";
@import "../global/colors.scss";
@import "../global/fonts.scss";

.fieldset-heading {
  position: relative;
  top: -3px;
  padding-right: 20px;
  padding-left: 0;
  font-family: $font-headings;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: $black;

  @media (min-width: $tablet-width) {
    padding: 0 40px;
    font-size: 36px;
    line-height: 36px;
  }
}
