@import "../global/viewports.scss";
@import "../global/colors.scss";

.fieldset {
  margin: 0;
  padding: 0 0 23px 20px;
  border: none;
  border-bottom: thin solid $border-color;

  @media (min-width: $tablet-width) {
    padding-left: 28px;
    padding-bottom: 0;

    &:not(.fieldset--highlighted) {
      border: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 70px;
  }

  &--highlighted {
    padding: 0;
    padding-top: 20px;
    border: none;
    border-top: 2px solid $primary-base;

    @media (min-width: $tablet-width) {
      padding-left: 28px;

      .fieldset__inputs-container {
        padding-top: 50px;
      }

      .fieldset__checkbox-container {
        padding-top: 35px;
      }
    }

    @media (min-width: $desktop-width) {
      padding-left: 70px;
    }
  }
}

.fieldset__inputs-container {
  padding-top: 10px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 42px;
    padding-right: 65px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 110px;
  }
}

.fieldset__bordered-box {
  @media (min-width: $tablet-width) {
    padding: 35px 28px 31px;
    border: thin solid $field-border-color;
  }

  @media (min-width: $desktop-width) {
    border: none;
  }
}

.fieldset__checkbox-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 24px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 58px;
    row-gap: 50px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 81px;
  }
}

.fieldset__input {
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.fieldset__radio {
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
