@import "../global/viewports.scss";
@import "../global/colors.scss";
@import "../global/fonts.scss";

.fieldset-heading {
  position: relative;
  top: -3px;
  display: flex;
  padding-left: 0;
  width: 100%;

  font-family: $font-headings;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: $black;
  white-space: nowrap;


  @media (min-width: $tablet-width) {
    display: block;
    top: -5px;
    padding-right: 42px;
    padding-left: 40px;
    width: fit-content;
    font-size: 36px;
    line-height: 36px;
    white-space: normal;

    br {
      display: none;
    }
  }

  &::after {
    content: "";
    display: block;
    position: relative;
    top: 16px;
    right: 0;
    margin-left: 20px;
    width: 100%;
    height: 2px;
    background-color: $primary-base;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}
