@import "../global/viewports.scss";
@import "../global/fonts.scss";

.how-it-works {
  padding: 29px 20px 41px;

  @media (min-width: $tablet-width) {
    padding: 45px 30px 32px;
  }

  @media (min-width: $desktop-width) {
    padding: 72px 110px 0;
  }
}

.how-it-works__list {
  counter-reset: itemNumber;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 61px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
  }
}

.how-it-works__item {
  position: relative;
  list-style: none;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    &::before {
      counter-increment: itemNumber;
      content: counter(itemNumber);
      position: absolute;
      top: 0;
      left: calc(50% - 50px);
      font-family: $font-headings;
      font-size: 280px;
      line-height: 0.73;
      color: $grey-light;
    }

    &:first-child {
      &::before {
        top: -3px;
        left: calc(50% - 43px);
      }
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;

    &::before {
      left: calc(50% - 10px);
    }

    &:first-child {
      &::before {
        top: 0;
        left: calc(50% - 5px);
      }
    }
  }
}

.how-it-works__heading {
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }
}
