@import "../global/viewports.scss";
@import "../global/colors.scss";
@import "../global/fonts.scss";

.input {
  display: flex;
  align-items: center;
}

.input__label {
  display: inline-block;
  margin-right: 14px;

  font-family: $font-headings;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: $black-base;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1;
  }
}

.input__field {
  padding: 13px 15px;
  flex-grow: 1;

  font-family: $font-headings;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: $black-base;

  border: thin solid $field-border-color;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1;
  }

  &--with-icon {
    border: thin solid $grey-dark;
  }
}
