@import "../global/viewports.scss";
@import "../global/colors.scss";
@import "../global/fonts.scss";

.input {
  position: relative;
  display: flex;
  align-items: center;
}

.input__label {
  font-family: $font-headings;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: $black-base;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    margin-top: 4px;
  }
}

.input__field {
  position: relative;
  top: 2px;
  margin-left: 14px;
  padding: 13px 15px;
  height: 45px;
  flex-grow: 1;

  font-family: $font-headings;
  font-size: 16px;
  line-height: 17px;
  font-weight: 400;
  text-transform: uppercase;
  color: $black-base;

  border: thin solid $field-border-color;

  &:hover {
    border-color: $grey-dark;
  }

  &:focus {
    padding: 13px 14px;
    outline: none;
    border: 2px solid $black-base;
  }

  @media (min-width: $tablet-width) {
    margin-left: 18px;
    padding: 10px 19px;
    height: 50px;
    font-size: 20px;
    line-height: 1;

    &:focus {
      padding: 10px 18px;
    }
  }

  &--with-icon {
    margin-left: 11px;
    padding: 13px 14px;
    padding-right: 45px;
    width: 100px;
    border: thin solid $grey-dark;

    &:focus {
      padding-left: 13px;
      padding-right: 45px;

      + .input__icon {
        stroke: $primary-base;

        &--filled {
          stroke: none;
          fill: $primary-base;
        }
      }
    }

    @media (min-width: $tablet-width) {
      margin-left: 17px;
      padding: 9px 20px 11px;
      padding-right: 45px;

      &:focus {
        padding-top: 8px;
        padding-left: 19px;
        padding-right: 45px;
      }
    }

    @media (min-width: $desktop-width) {
      margin-left: 18px;
      padding: 9px 45px 11px 17px;

      &:focus {
        padding-top: 8px;
        padding-left: 16px;
        padding-right: 45px;
      }
    }
  }

  &--invalid {
    padding: 13px 14px;
    outline: none;
    border: 2px solid $error;
  }
}

.input__icon {
  position: absolute;
  right: 15px;
  stroke: $black-dark;

  &--filled {
    top: 14px;
    stroke: none;
    fill: $black-dark;
  }

  &--email {
    top: 18px;
  }

  &--phone {
    top: 15px;
    right: 14px;
  }

  @media (min-width: $tablet-width) {
    &--email {
      top: 20px;
      right: 18px;
    }

    &--phone {
      top: 16px;
      right: 18px;
    }
  }

  @media (min-width: $desktop-width) {
    &--email {
      right: 19px;
    }

    &--phone {
      right: 17px;
    }
  }
}
