@import "../global/viewports.scss";
@import "../global/colors.scss";
@import "../global/fonts.scss";

.main-screen {
  $cat-height-mobile: 302px;
  $cat-y-position-mobile: -20px;
  $cat-width-desktop: 720px;
  $cat-height-desktop: 694px;
  $cat-bg-color-left: #525156;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 26px 20px 22px;
  min-height: 502px;

  background-image:
    url("../img/index-can-mobile.png"),
    linear-gradient(to bottom, $primary-opaque, $primary-opaque $cat-height-mobile + $cat-y-position-mobile + 20px, transparent $cat-height-mobile + $cat-y-position-mobile + 20px, transparent),
    url("../img/index-background-mobile.jpg"),
    linear-gradient(to bottom, $cat-bg-color-left, $cat-bg-color-left $cat-height-mobile + $cat-y-position-mobile + 20px, transparent $cat-height-mobile + $cat-y-position-mobile + 20px, transparent);
  background-repeat:
    no-repeat,
    no-repeat,
    no-repeat,
    no-repeat;
  background-size:
    280px,
    auto calc(#{$cat-height-mobile} + 20px),
    auto $cat-height-mobile,
    auto calc(#{$cat-height-mobile} + 20px);
  background-position:
    center 165px,
    0 0,
    right 0 top 0,
    0 0;

  @media (min-resolution: 2dppx) {
    background-image:
      url("../img/index-can-mobile@2x.png"),
      linear-gradient(to bottom, $primary-opaque, $primary-opaque $cat-height-mobile + $cat-y-position-mobile + 20px, transparent $cat-height-mobile + $cat-y-position-mobile + 20px, transparent),
      url("../img/index-background-mobile@2x.jpg"),
      linear-gradient(to bottom, $cat-bg-color-left, $cat-bg-color-left $cat-height-mobile + $cat-y-position-mobile + 20px, transparent $cat-height-mobile + $cat-y-position-mobile + 20px, transparent);
  }

  @media (min-width: $tablet-width) {
    padding: 61px 112px 70px;
    min-height: 871px;
    justify-content: flex-start;

    background-image: url("../img/index-can-tablet.png");
    background-repeat: no-repeat;
    background-size: auto 609px;
    background-position: center 260px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-can-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    padding: 224px 185px 220px;
    margin-bottom: 82px;
    min-height: $cat-height-desktop;
    max-height: $cat-height-desktop;

    background-image:
      url("../img/index-can.png"),
      linear-gradient(to left, $primary-opaque, $primary-opaque 50%, transparent 50%, transparent),
      url("../img/index-background-desktop.jpg"),
      linear-gradient(to left, $cat-bg-color-left, $cat-bg-color-left 50%, transparent 50%, transparent);
    background-repeat:
      no-repeat,
      no-repeat,
      no-repeat,
      no-repeat;
    background-size:
      552px,
      100% auto,
      auto $cat-height-desktop,
      100% auto;
    background-position:
      right 330px bottom 54px,
      right 0 top 0,
      right top,
      right 0 top 0;

    @media (min-resolution: 2dppx) {
      background-image:
        url("../img/index-can@2x.png"),
        linear-gradient(to left, $primary-opaque, $primary-opaque 50%, transparent 50%, transparent),
        url("../img/index-background-desktop@2x.jpg"),
        linear-gradient(to left, $cat-bg-color-left, $cat-bg-color-left 50%, transparent 50%, transparent);
    }
  }
}

.main-screen__heading {
  margin-bottom: 25px;
  line-height: 36px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-left: 5px;
    margin-bottom: 42px;
    color: $black;
    line-height: 60px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    max-width: 420px;
    margin-bottom: 40px;
  }
}

.main-screen__slogan {
  font-family: $font-headings;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: $white;

  @media (min-width: $tablet-width) {
    padding-left: 5px;
    margin-bottom: 47px;
    font-size: 20px;
    line-height: 20px;
    color: $black;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.main-screen__button {
  @media (min-width: $desktop-width) {
    margin-left: 5px;
    padding: 17px 26px;
  }
}
