@import "../global/viewports.scss";
@import "../global/colors.scss";

.products-extra__main-heading {
  padding-left: 20px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.products-extra__list {
  list-style: none;
  padding: 0 20px;
}

.products-extra__item {
  padding: 14px 0 18px;
  border-bottom: thin solid $grey-dark;

  &:first-child {
    border-top: thin solid $grey-dark;
  }
}

.products-extra__heading {
  margin: 0;
  margin-bottom: 13px;
  font-family: "Oswald", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: $black-dark;
}

.products-extra__button {
  display: block;
  margin-top: 15px;
}
