@import "../global/viewports.scss";
@import "../global/colors.scss";
@import "../global/fonts.scss";

.products-extra {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
      "extra-heading extra-heading"
      "extra-list    special-offer";
    column-gap: 80px;
    row-gap: 80px;
    margin: 0 auto 87px;
    max-width: $desktop-width;
  }
}

.products-extra__main-heading {
  grid-area: extra-heading;
  padding-left: 20px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    margin-top: 70px;
    margin-bottom: 82px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.products-extra__list {
  grid-area: extra-list;
  list-style: none;
  margin: 0;
  margin-top: 34px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0 30px;
    padding: 0;
    border: thin solid $grey-dark;
  }

  @media (min-width: $desktop-width) {
    margin-left: 110px;
    margin-right: 0;
    border-right: none;
    border-left: none;
  }
}

.products-extra__item {
  display: grid;
  grid-template-columns: repeat (2, 1fr);
  grid-template-areas:
    "heading heading"
    "quantity price"
    "button button";
  padding: 13px 0 18px;
  border-bottom: thin solid $grey-dark;

  &:first-child {
    border-top: thin solid $grey-dark;

    @media (min-width: $tablet-width) {
      border-top: none;
    }
  }

  &:last-child {
    @media (min-width: $tablet-width) {
      border-bottom: none;
    }
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 200px 91px;
    grid-template-areas:
      "heading quantity price"
      "button button button";
    row-gap: 25px;
    padding: 27px 38px;
  }

  @media (min-width: $desktop-width) {
    padding: 16px 0;
    grid-template-columns: 1fr 225px 60px 244px;
    grid-template-areas: "heading quantity price button";
    column-gap: 20px;
    align-items: center;
  }
}

.products-extra__heading {
  grid-area: heading;
  margin: 0;
  margin-bottom: 12px;
  padding-left: 1px;
  font-family: $font-headings;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: $black-dark;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    font-size: 20px;
  }
}

.products-extra__quantity {
  grid-area: quantity;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    text-align: right;
  }
}

.products-extra__price {
  grid-area: price;
  text-align: right;

  @media (min-width: $tablet-width) {
    margin-right: -2px;
    font-size: 16px;
  }
}

.products-extra__quantity,
.products-extra__price {
  @media (min-width: $tablet-width) {
    margin-top: 2px;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 8px;
    text-align: left;
  }
}

.products-extra__button {
  grid-area: button;
  display: block;
  margin-top: 14px;
  font-size: 16px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 8px;
    max-width: 100%;
    line-height: 21px;
  }

  @media (min-width: $desktop-width) {
    justify-self: stretch;
  }
}
