@import "../global/viewports.scss";

.programs {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.programs__list {
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  }
}

.programs__item {
  margin: 0;
  margin-bottom: 20px;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}
