@import "../global/viewports.scss";
@import "../global/colors.scss";
@import "../global/fonts.scss";

.program-form {
  .fieldset {
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      margin-bottom: 74px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }

    &--highlighted {
      margin-top: 29px;

      @media (min-width: $tablet-width) {
        margin-top: 80px;
        margin-bottom: 71px;
      }

      @media (min-width: $desktop-width) {
        margin-top: 75px;
      }
    }
  }

  .pseudo-fieldset {
    margin-top: 29px;
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      margin-bottom: 67px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 75px;
      margin-bottom: 67px;
    }
  }

  .program-form__additional {
    margin-top: 23px;
    margin-bottom: 23px;
    padding-top: 27px;
  }
}

.program-form__head-container {
  padding: 26px 20px 28px;

  @media (min-width: $tablet-width) {
    padding: 63px 70px 63px;
  }

  @media (min-width: $desktop-width) {
    padding: 76px 110px;
    padding-bottom: 0;
  }
}

.program-form__heading {
  margin-bottom: 38px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 67px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }
}

.program-form__description {
  margin: 0;
  font-family: $font-headings;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 63px;
  }
}

.program-form__pet-info-container {
  @media (min-width: $tablet-width) {
    padding: 0 70px;
    padding-right: 67px;

    .fieldset,
    .fieldset__inputs-container {
      padding: 0;
    }
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
    padding-right: 110px;
    padding-left: 110px;

    .fieldset,
    .fieldset__inputs-container {
      padding: 0;
    }

    .program-form__chosen-program {
      border: thin solid $field-border-color;

      @media (min-width: $desktop-width) {
        position: relative;
        top: 2px;
      }
    }
  }
}

.program-form__bottom-container {
  padding-left: 19px;
  padding-top: 0;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.program-form__contacts {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;

    .fieldset__input {
      margin-bottom: 0;

      &:nth-child(2n) {
        margin-left: -2px;
      }
    }
  }
}

.program-form__submit-container {
  margin-top: 40px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 62px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    padding: 0 70px 72px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 69px;
    padding: 0 110px 82px;
    column-gap: 80px;
  }
}

.program-form__sumbit-button {
  margin-top: 14px;
  margin-bottom: 22px;
  width: 100%;
  font-size: 16px;

  @media (min-width: $tablet-width) {
    margin: 0;
    max-width: 100%;
    font-size: 20px;
    line-height: 0.8;
  }
}

.program-form__footnote {
  display: block;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: auto 0;
    font-size: 16px;
    text-align: left;
  }
}
