@import "../global/viewports.scss";
@import "../global/colors.scss";

.pseudo-fieldset {
  position: relative;
  display: block;
}

.pseudo-fieldset__heading {
  display: flex;
  margin-bottom: 25px;
  padding: 0;
  width: 100%;

  &::after {
    content: "";
    position: relative;
    top: 15px;
    right: 0;
    margin-left: 20px;
    display: block;
    width: 100%;
    height: 2px;
    background-color: $primary-base;

    @media (min-width: $tablet-width) {
      top: 23px;
      margin-left: 40px;
    }

    @media (min-width: $desktop-width) {
      top: 23px;
      margin-left: 42px;
    }
  }

  &::before {
    @media (min-width: $tablet-width) {
      content: "";
      position: relative;
      top: 23px;
      left: 0;
      margin-right: 40px;
      display: block;
      width: 45px;
      height: 2px;
      background-color: $primary-base;
    }

    @media (min-width: $desktop-width) {
      width: 90px;
    }

    @media (min-width: $desktop-width) {
      top: 23px;
    }
  }
}

.pseudo-fieldset__heading-text {
  flex-shrink: 0;
}

.pseudo-fieldset__inputs-container {
  display: block;
  padding-top: 10px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding: 47px 67px 0 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 47px 110px 2px;
  }
}
