@import "../global/viewports.scss";
@import "../global/colors.scss";

.pseudo-fieldset {
  position: relative;
  display: block;

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    max-width: $desktop-width;
  }
}

.pseudo-fieldset__heading {
  display: flex;
  margin-bottom: 25px;
  padding: 0;
  width: 100%;
  background-image: linear-gradient(to bottom, transparent 0%, transparent 16px, $primary-base 16px, $primary-base 18px, transparent 18px, transparent 100%);

  @media (min-width: $tablet-width) {
    padding-left: 30px;

    .fieldset-heading__text {
      padding: 0 40px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 70px;

    .fieldset-heading__text {
      padding-left: 40px;
    }
  }
}

.pseudo-fieldset__heading-text {
  flex-shrink: 0;
}

.pseudo-fieldset__inputs-container {
  display: block;
  padding-top: 10px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding: 47px 67px 0 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 47px 110px 2px;
  }
}
