@import "../global/viewports.scss";
@import "../global/colors.scss";
@import "../global/fonts.scss";

.radio {
  display: block;
}

.radio__label {
  font-family: $font-headings;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: $black-dark;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1;
  }
}
