@import "../global/viewports.scss";
@import "../global/colors.scss";
@import "../global/fonts.scss";

.radio {
  display: block;
}

.radio__field {
  position: absolute;
  opacity: 0;

  &:disabled {
    + .radio__label {
      opacity: 0.3;

      &::before {
        border-color: $grey-dark;
      }
    }
  }

  &:focus {
    + .radio__label::before {
      border-color: $black-dark;
      box-shadow: 0 0 0 1px;
    }
  }
}

.radio__label {
  display: block;
  position: relative;
  padding-left: 45px;
  font-family: $font-headings;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: $black-dark;

  &::before {
    position: absolute;
    content: "";
    top: -7px;
    left: 0;
    width: 30px;
    height: 30px;
    border: thin solid $grey-dark;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      top: -11px;
      width: 40px;
      height: 40px;
    }
  }

  &:hover {
    &::before {
      border-color: $checkbox-hover-color;
    }
  }

  @media (min-width: $tablet-width) {
    padding-left: 59px;
    font-size: 20px;
    line-height: 1;
  }
}

.radio__field:checked + .radio__label::after {
  position: absolute;
  content: "";
  top: 1px;
  left: 8px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: $primary-base;

  @media (min-width: $tablet-width) {
    top: 0;
    left: 11px;
    width: 18px;
    height: 18px;
  }
}
