@import "../global/viewports.scss";

.slider-container {
  position: relative;
  margin: auto;
  width: 100%;
  min-height: 305px;
  background-repeat: no-repeat;
  background-size: contain;

  &--before {
    background-image: url("../img/before-mobile.png");
    background-size: 310px;
    background-position: left calc(50% - 5px) top 14px;

    .slider__marker {
      top: 3px;
      left: 4px;
      max-width: 6px;
    }
  }

  &--after {
    background-image: url("../img/after-mobile.png");
    background-size: 252px;
    background-position: left calc(50% + 3px) top 14px;

    .slider__marker {
      top: 3px;
      left: 4px;
      max-width: calc(100% - 8px);
    }
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    min-height: 654px;
    background-size: contain;

    .slider__marker {
      top: -14px;
      left: 0;
      max-width: 100%;
    }

    &--before {
      background-image: url("../img/cat-fat.png");
      background-size: 678px;
      background-position: left 50% top 20px;
    }

    &--after {
      background-image: url("../img/cat-skinny.png");
      background-size: auto 520px;
      background-position: left calc(50% + 25px) top 20px;

      .slider__marker {
        left: calc(100% - 34px);
      }
    }
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    min-height: 672px;

    &--before {
      background-position: left top 18px;
    }

    &--after {
      background-position: left 90px top 18px;
    }
  }
}

.slider-container__slider {
  position: absolute;
  bottom: 2px;
  left: 16%;
  width: 70%;

  @media (min-width: $tablet-width) {
    bottom: 68px;
    left: 9.5%;
    width: 80.5%;
  }

  @media (min-width: $desktop-width) {
    width: 88%;
    left: 12%;
  }
}
