@import "../global/viewports.scss";

.slider-container {
  position: relative;
  margin: auto;
  width: 100%;
  height: 305px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top 20px;

  &--before {
    background-image: url("../img/before-mobile.png");
  }

  &--after {
    background-image: url("../img/after-mobile.png");
    background-position: center top;
  }

  @media (min-width: $tablet-width) {
    height: 654px;
    background-position: center top;

    &--before {
      background-image: url("../img/cat-fat.png");
    }

    &--after {
      background-image: url("../img/cat-skinny.png");
      background-size: auto 530px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    height: 672px;
    background-position: center top 30px;
  }
}

.slider-container__slider {
  position: absolute;
  bottom: 2px;
  left: 16%;
  width: 70%;

  @media (min-width: $tablet-width) {
    bottom: 68px;
    left: 9.5%;
    width: 80.5%;
  }

  @media (min-width: $desktop-width) {
    width: 93.5%;
    left: 6.5%;
  }
}
