@import "../global/viewports.scss";
@import "../global/colors.scss";

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider__text {
  padding: 6px 0;
  font-family: "Oswald", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $black;
  background-color: transparent;
  border: none;
  border-bottom: thin dotted rgba(0, 0, 0, 0.25);

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1;
  }
}

.slider__line {
  width: 43%;
  height: 14px;
  background-color: $white;
  border: thin solid $grey-dark;
  border-radius: 7px;

  @media (min-width: $tablet-width) {
    width: 76%;
    height: 6px;
    background-color: $slider-line-color;
    border: none;
    border-radius: 3px;
  }
}
