@import "../global/viewports.scss";
@import "../global/colors.scss";
@import "../global/fonts.scss";

.textarea {
  padding: 9px 13px 9px 15px;
  width: 100%;
  min-height: 150px;

  font-family: $font-headings;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: $black-base;

  border: thin solid $field-border-color;
  resize: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1;
  }
}
