@import "../global/viewports.scss";
@import "../global/colors.scss";

.button {
  display: block;
  flex-grow: 0;
  padding: 11px 16px 10px;

  font-family: "Oswald", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: $white;

  background-color: $primary-base;
  border: none;

  &--secondary {
    background-color: $grey-light;
    color: $black-base;
    line-height: 18px;
  }

  @media (min-width: $tablet-width) {
    display: inline-block;
    padding: 18px 26px;
    max-width: fit-content;
    font-size: 20px;
    line-height: 1;
  }
}
