@import "../global/viewports.scss";

.logo-container {
  text-decoration: none;

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }

  &--additional {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}
