@import "../global/viewports.scss";
@import "../global/colors.scss";
@import "../global/fonts.scss";

.text {
  font-family: $font-common;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $black-base;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
