@import "../global/viewports.scss";
@import "../global/colors.scss";
@import "../global/fonts.scss";

.address {
  position: relative;
  background-color: $grey-base;
}

.address__container {
  position: relative;
  margin: 0 auto;
  max-width: $desktop-width;
}

.address__block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-area: address;
  padding: 28px 20px 27px;
  background-color: $white;
  z-index: 5;

  @media (min-width: $tablet-width) {
    padding: 67px 71px 57px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: calc(50% - 99px);
    left: 110px;
    padding: 67px 71px 55px 75px;
    width: 570px;
    grid-column-gap: 80px;
    margin-top: -7px;
  }

  &--color-dim {
    background-color: $grey-light;

    @media (min-width: $desktop-width) {
      background-color: $white;
    }
  }
}

.address__invitation {
  margin: 0;
  font-family: $font-headings;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $black-darkest;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.address__text {
  margin: 0;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    line-height: 24px;
    text-align: left;
  }
}

.address__street {
  @media (min-width: $tablet-width) {
    display: block;
    margin-top: -3px;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    line-height: 20px;
    margin-bottom: 18px;
  }
}
