@import "../global/viewports.scss";

.map {
  grid-area: map;
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 320px;
  height: auto;

  @media (min-width: $tablet-width) {
    height: auto;
    max-height: 400px;
    width: 100%;
    max-width: 768px;
  }

  @media (min-width: $desktop-width) {
    grid-area: auto;
    width: 100%;
    max-width: 1440px;
  }
}
