@import "../global/viewports.scss";
@import "../global/colors.scss";

.social {
  padding: 20px;
  width: 100%;
  border-top: thin solid $social-border-color;
  border-bottom: thin solid $social-border-color;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
  }
}

.social__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.social__item {
  list-style: none;
  margin-right: 33px;

  &:first-child {
    .social__item-link {
      left: -4px;

      @media (min-width: $tablet-width) {
        top: -2px;
        left: -3px;
      }

      @media (min-width: $desktop-width) {
        left: 0;
      }
    }

    .social__icon {
      @media (min-width: $tablet-width) {
        width: 30px;
        height: 30px;
      }
    }
  }

  &:nth-child(2) {
    .social__item-link {
      top: 1px;
      left: -1px;

      @media (min-width: $tablet-width) {
        top: -1px;
        left: 2px;
      }
    }

    .social__icon {
      @media (min-width: $tablet-width) {
        width: 23px;
        height: 23px;
      }
    }
  }

  &:nth-child(3) {
    .social__item-link {
      top: -1px;
      left: -1px;

      @media (min-width: $tablet-width) {
        top: -2px;
        left: -7px;
      }
    }

    .social__icon {
      @media (min-width: $tablet-width) {
        width: 31px;
        height: 31px;
      }
    }
  }

  @media (min-width: $tablet-width) {
    margin-right: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 24px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.social__item-link {
  position: relative;
  display: flex;
  align-items: center;

  &:hover .social__icon {
    stroke: $primary-base;

    &--filled {
      fill: $primary-base;
      stroke: none;
    }
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin-top: -2px;
    width: 30px;
    height: 30px;
  }
}

.social__icon {
  display: block;
  fill: none;
  stroke: $black-light;

  &--filled {
    fill: $black-light;
    stroke: none;
  }
}
