$white: #ffffff;

$grey-light: #f2f2f2;
$grey-base: #ebebeb;
$grey-base-2: #eaeaea;
$grey-dark: #cdcdcd;

$black-light: #666666;
$black-base: #444444;
$black-dark: #222222;
$black-darkest: #111111;
$black: #000000;

$error: #ff8282;
$primary-base: #68b738;
$primary-dark: #5eaa2f;
$primary-opaque: transparentize($primary-base, 0.15);

$border-color: #e6e6e6;
