@import "../global/viewports.scss";

.nav-button {
  position: relative;
  margin-top: -5px;
  padding: 0;
  width: 24px;
  height: 24px;
  background: none;
  border: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 11px;
    left: 0;
    display: block;
    width: 25px;
    height: 2px;
    background-color: $black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &--menu-closed {
    &::before {
      top: 11px;
      left: 0;
      width: 24px;
      height: 1.5px;
      transform: translateY(1px);
      box-shadow:
        0 8px 0 0 $black,
        0 -8px 0 0 $black;
    }

    &::after {
      display: none;
    }
  }

  &--no-js {
    opacity: 0;
  }

  &:active {
    &::before,
    &::after {
      opacity: 60%;
    }
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
