@import "../global/viewports.scss";
@import "../global/colors.scss";
@import "../global/fonts.scss";

.nav {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  &--closed {
    display: none;

    @media (min-width: $tablet-width) {
      display: flex;
    }
  }
}

.nav__item {
  list-style: none;
  border-top: thin solid $border-color;

  &:last-child {
    border-bottom: thin solid $border-color;
  }

  @media (min-width: $tablet-width) {
    margin-right: 35px;
    border: none;

    &:last-child {
      margin-right: 0;
      border: none;
    }
  }
}

.nav__link {
  display: block;
  padding: 22px;
  font-family: $font-headings;
  font-size: 20px;
  line-height: 21px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: $black;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-shrink: 0;
    flex-grow: 0;
    padding: 8px 0;

    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    white-space: nowrap;

    &:hover:not(.nav__link--active) {
      opacity: 0.6;
    }

    &:active:not(.nav__link--active) {
      opacity: 0.3;
    }

    &--active {
      box-shadow: 0 2px 0 0 $primary-base;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 8px 0;
    font-size: 20px;
    line-height: 24px;
  }
}
