@import "../global/viewports.scss";

.page-header {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 24px 30px 0;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 64px;
    left: 110px;

    margin-right: 34px;
    padding: 0;
    width: calc(100% - 220px);
  }
}

.page-header__top-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 20px 11px;

  @media (min-width: $tablet-width) {
    margin-right: 20px;
    padding: 0;

    .logo {
      margin-right: 12px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 34px;
    padding: 0;
  }
}
