@import "../common/colors.scss";

.expenses {
  font-family: "Oswald Regular", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $black;
}
