.programs {
  padding: 0 20px;
}

.programs__list {
  margin: 0;
  padding: 0;
}

.programs__item {
  margin: 0;
  margin-bottom: 20px;
  list-style: none;

  &:last-child {
    margin-bottom: 0px;
  }
}

